html {
  margin: 0 auto;
  max-width: 560px;
  background-color: #000;
  font-family: 'Judson', serif;
}

a {
  text-decoration: none;
}

.main {
  min-width: 340px;
  background-color: #009999;
  padding: 30px 30px 25px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.quoteArea {
  margin-bottom: 50px;
}

h2,
h3 {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  line-height: 40px;
  color: #fff;
}

h2 {
  text-align: justify;
  font-size: 20px;
}

h3 {
  text-align: center;
  color: #e6e6e6;
  font-size: 18px;
}

img {
  max-width: 50px;
  max-height: 33px;
  width: 20%;
  height: 20%;
}

.openQuote {
  float: left;
  margin-right: 20px; 
}

.closeQuote {
  float: right;
  margin: 2px 0 0 20px; 
}

.buttons {
  margin-bottom: 20px;
  /*text-align: center;*/
  display: inline;
}

.newQuote {
  float: left;
  cursor: pointer;
  padding: 5px 10px;
  width: 90px;
  height: 28px;
  margin: 0 20px 20px 0;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  color: #000;
}

#container {
  margin-bottom: 10px; 
}